h2 {
    text-align: center;
    font-size: 2.3em;
}


.h2-main-contact {
    margin: 0;
    margin-bottom: 10%;
} 

.all-contact {
    margin-top: 15%;
}

.grid-contact-full {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10%;
}

.grid-contact {
    grid-column-start: 1;
    padding: 40px;
    background-color: #1b263b;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.grid-contact-right {
    grid-column-start: 2;
    padding: 40px;
    background-color: #212d3c;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1.2em;
}

.form-w, .h-area{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    border-bottom: solid #778da9;
    background: none;
    color: #e0e1dd;
    font-size: 1.2em;
    
}

.h-area {
    height: 200px;
}

.submit-button {
    padding: 15px;
    background-color: #d90429;
    color: #e0e1dd;
    border: none;
    border-radius: 10px;
}

#submit {
    margin-top: 5%;
}

.contact-part2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    gap: 40px;
}

.contact-part2 a {
    text-decoration: none;
    color: #e0e1dd;
    font-weight: bolder;
    font-size: 1em;
}

.iconehome {
    color: #d90429;
}


/* Responsive */

@media screen  and (max-width: 720px) {

    .grid-contact-full {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        margin: 0 auto;
    }   

    .grid-contact {
        grid-column-start: 1;
       border-top-right-radius: 15px;
       border-bottom-left-radius: 0px;
    }

    .grid-contact-right {
        grid-column-start: 1;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0px;
    }

}


@media screen  and (max-width: 520px) {
    .h2-main-contact {
        padding: 40px;
    }

    .all-contact {
        max-width: 100%;
    }
}
    
