body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

nav {
    display: flex;
    text-decoration: none;
    background-color: #09131d;
    height: 5em;
    align-items: center;
    gap: 10%;  
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

nav a:hover {
    color: #d90429; 
}



