body {
    font-family: 'Roboto Mono', monospace;
    background-color: #0d1b2a;
    color: #e0e1dd;  
}



.top-projet {
    height: 50vh;
    background-color: #1b263b;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 4em;
    margin-left: 30px;
}

img {
    max-width: 100%;
}

.projets-section1 {
    display: grid;
    grid-template-columns: 1fr 15% 1fr;
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    row-gap: 50px;
}

.realisation {
    background-color: #415a77;
    border-radius: 10px;
}

.col1 {
    grid-column-start: 1;
}

.col3 {
    grid-column-start: 3;
}

.projet-text {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h2 {
    font-size: 2em;
    text-align: center;
    color: #e0e1dd;
}

.image-projet {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.text p {
    padding: 10px;
    font-size: 1.8em;
}


/* Responsive  */


@media screen and (max-width: 960px) {
    .text p {
        padding: 10px;
        font-size: 1.4em;
    }
}

@media screen and (max-width: 600px) {
    .projets-section1 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .col1 {
        grid-column-start: 1;
    }
    
    .col3 {
        grid-column-start: 1;
    }
}

@media screen and (max-width: 495px) {
    h1 {
        font-size: 3em;
        margin-left: 30px;
        margin-bottom: -20px;
    }
}
