body {
    font-family: 'Roboto Mono', monospace;
    background-color: #0d1b2a;
    color: #e0e1dd;  
}


.portfolio-top {
    height: 50vh;
    background-color: #1b263b;
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

h1 {
    font-size: 4em;
    margin-left: 30px;
}


.portfolio-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.iframein {
    border-radius: 15px;
    border: none;
}


.iframe-portfolio {
    height: 90vh;
    text-align: center;
    width: 35vw;
}

.textmain {
    width: 60vh;
}


/* Responsive */



@media screen and (max-width: 495px) {
    
    h1 {
        font-size: 3em;
        margin-left: 30px;
        margin-bottom: -20px;
    }
}

@media screen and (max-width: 950px) {
    .textmain {
        padding: 10px;
    }
}

@media screen and (max-width: 750px) {

    .iframe-portfolio {
        height: 55vh;
        width: 90vw;
    }
}






