html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Roboto Mono', monospace;
    background-color: #0d1b2a;
    color: #e0e1dd;  
}

.indexhome {
    height: 100vh;
    background-color: #1b263b;
    color: #e0e1dd;
}

.boxhome {
    display: flex;
}

.photomathis {
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.mockuphome {
    width: 100%;
}

.box1home h1 {
    font-size: 4em;
    margin: 0;
}

.box1home {
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    position: relative;
}

.boutonabout {
    border-radius: 10px;
    background-color: #d90429;
    width:30% ;
    height: 5%;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: #e0e1dd;
    padding-top: 2.5%;
    margin-top: 30px;
}

.lienhome {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    top: 92%;
    gap: 40px;
}

.lienhome a {
    text-decoration: none;
    color: #e0e1dd;
    font-weight: bolder;
    font-size: 1.5em;
}

.iconehome {
    color: #d90429;
}

.titreabout {
    text-align: center;
    font-size: 2.6em;
    font-weight: bold;
    margin-top: -20px;
}

.soustitreabout {
    text-align: center;
    font-size: 1.5em;
    color: #d90429;
    font-weight: bold;
    margin-top: 60px;
}

.contenuabout {
    display: flex;
    gap: 60px;
    width: 80%;
    align-items: flex-start;

}

.test {
    display: flex;
    justify-content: center;
}

.textabout {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.textabout h3 {
    font-size: 1.6em;
}

.iconetexteabout  {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-top: 10%; 
    border-radius: 20px;
    justify-content: space-between;
    background-color: #1b263b;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    
}

.iconeabout {
    text-align: center;
}

.fa-eye, .fa-heart, .fa-globe {
    margin-top: 25px;
    color: #d90429;
    font-size: 1.5em;
}

.marginsection {
    margin-top: 10%;
}

.titre {
    text-align: center;
    font-size: 2.6em;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 10%;
}

.entireblocparcours {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: 4fr 4fr 4fr;
}

.bloc1parcours {
    grid-column-start: 1;
    grid-row-start: 1;
}


.bloc2parcours {
    grid-column-start: 3;
    grid-row-start: 2;
}

.bloc3parcours {
    grid-column-start: 1;
    grid-row-start: 3;
}

.barrecentrale {
    width: 20px;
    border: solid;
    border-color: #d90429;
    grid-column: 2;
    grid-row: span 3;
    color: #d90429;
    text-align: center;
    position: relative;
    left: 40%;
    background-color: #d90429;
}


.m-borderb2 {
    border-top:  solid 10px;
    border-color: #d90429;
    background-color: #1b263b;
    padding: 5%;
    border-radius: 15px;
}

.marginsection {
    margin-left: 10%;
    margin-right: 10%;
}

  
.section-skills {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    width: 80%;
    margin: 0 auto;
    background-color: #1b263b;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 30%;
    gap: 30px;
}

.progressbar {
    grid-column-start: 1;
}


.titre-progressbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.skillbar {
    width: 100%;
    height: 15px;
    background-color: #e0e1dd;
    border-radius: 15px;
}

.skillbar-per-skill1 {
    background-color: #d90429;
    height: 15px;
    border-radius: 15px;
    display: block;
    z-index: 3;
    width: 80%;
}

.skillbar-per-skill2 {
    background-color: #d90429;
    height: 15px;
    border-radius: 15px;
    display: block;
    z-index: 3;
    width: 70%;
}

.skillbar-per-skill3 {
    background-color: #d90429;
    height: 15px;
    border-radius: 15px;
    display: block;
    z-index: 3;
    width: 60%;
}

.skillbar-per-skill4 {
    background-color: #d90429;
    height: 15px;
    border-radius: 15px;
    display: block;
    z-index: 3;
    width: 20%;
}

.skillbar-per-skill5 {
    background-color: #d90429;
    height: 15px;
    border-radius: 15px;
    display: block;
    z-index: 3;
    width: 10%;
}

.progressbar2 {
    grid-column-start: 3;
}

.progressbar3 {
    grid-column-start: 1;
}

.progressbar4 {
    grid-column-start: 3;
}

.progressbar5 {
    grid-column-start: 1;
}



/* Responsive */


@media screen and (max-width: 1022px) {
    .box1home a {
        font-size: 1.4em; 
    }

    .boutonabout {
        border-radius: 10px;
        background-color: #d90429;
        width:30% ;
        height: 10%;
        text-align: center;
        text-decoration: none;
        font-weight: bolder;
        color: #e0e1dd;
        padding-top: 2.5%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 851px) {
    .boutonabout {
        border-radius: 10px;
        background-color: #d90429;
        width: 30%;
        height: 10%;
        text-align: center;
        text-decoration: none;
        font-weight: bolder;
        color: #e0e1dd;
        padding-top: 2.5%;
        margin-top: 30px;
    }  
    
    .box1home {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
    .contenuabout {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 80%;
        align-items: flex-start;
        justify-content: center;
    
    }

    .box1home a {
        font-size: 1.2em; 
    }

    .entireblocparcours {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }
    
    .bloc1parcours {
        grid-column-start: 1;
        
    }
    
    
    .bloc2parcours {
        grid-column-start: 1;
    
    }
    
    .bloc3parcours {
        grid-column-start: 1;
    }
    
    .barrecentrale {
        display: none;
    }
}

@media screen and (max-width: 497px) {
    .lienhome {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .lienhome a {
        font-size: 0.8em;
    }

    .boutonabout {
        margin-top: 0;
    }

    .box1home {
        width: 100%;
    }

    .boutonabout {
        height: 10%;
    }

    .section-skills {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 100%;
        padding: 20px;
        margin: 0 auto;
    }

    .progressbar {
        grid-column-start: 1;
    }

    .progressbar2 {
        grid-column-start: 1;
    }
    
    .progressbar3 {
        grid-column-start: 1;
    }
    
    .progressbar4 {
        grid-column-start: 1;
    }
    
    .progressbar5 {
        grid-column-start: 1;
    }

}




